body{
    width: 100%;
}
/* font */
@font-face {
    font-family: 'BankScript';
    src: url(../fonts/BanksScript.otf);
}
@font-face {
    font-family: 'AppleChancery';
    src: url(../fonts/Apple\ Chancery.ttf);
}

/* left-panel */
.left-panel {
    float: left;
    padding: 3%;
    background-color: #D0DFE6; 
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
}

.logo {
    width: 30%;
    height: 15%;
    background-image: url('../images/login-logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 1.5%;
    font-family: 'BankScript';
    font-size: 40px;
    box-sizing: border-box;
    padding-left: 9%;
    padding-top: 2.8%;
}

hr {
    border: 0;
    height: 5px;
    background: #ffffff;
    margin: 1% 0;
}

.description {
    margin-top: 2%;
}
.des-top{
    display: flex;
}

.des-top>ul{
    width: 100%;
    padding-top: 1%;
    box-sizing: border-box;
}

.des-top>ul>li{
    width: 100%;
    height: 18.5%;
    border-bottom: 2px #ffffff solid;
    font-family: 'AppleChancery';
    font-size: 26px;
    padding-top: 10%;
    padding-left: 8%;
    box-sizing: border-box;
}

.des-right>img{
    width: 22vw;
}

.des-bottom>ul{
    width: 100%;
    box-sizing: border-box;
    padding-top: 1%;
}

.des-bottom>ul>li{
    width: 100%;
    border-bottom: 2px #ffffff solid;
    height: 18.5%;
    font-family: 'AppleChancery';
    font-size: 26px;
    padding-left: 4%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

/* github icon */
.footer-icon {
    margin-top: 5%;
}

.footer-icon img{
    width: 4%;
}

/* right-panel */
.right-panel {
    float: right;
    background-color: #ffffff;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
}

h2 {
    color: #333;
    font-family: arial black;
    font-size: 3em;
    text-align: center;
    margin-bottom: 7vh;
}
form {
    width: 65%;
    margin: 0 auto;
}

.form-group {
    width: 100%;
    margin-bottom: 5vh;
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #bbbbbb;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-sign-in {
    width: 100%;
    height: 7vh;
    font-size: 1.1em;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 3vh;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
    color: #bbbbbb;
}

.signup-link a {
    color: #000;
    text-decoration: none;
}