{% extends "base.html" %} {% block content %}
<h1>Send a Message</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div>
    {{ form.send.label }}<br />
    {{ form.send(size=32) }}
  </div>
  <div>
    <!-- Add this div for the label field -->
    {{ form.label.label }}<br />
    {{ form.label(size=32) }}
  </div>
  <div>
    {{ form.anonymous() }}
    <!-- Add this line -->
    <button type="button" id="anonymousButton">Send Anonymously</button>
  </div>
  <div>{{ form.submit() }}</div>
</form>

<script>
  document
    .getElementById("anonymousButton")
    .addEventListener("click", function () {
      var anonymousField = document.getElementById("{{ form.anonymous.id }}");
      anonymousField.value = !anonymousField.value;
      this.classList.toggle("active", anonymousField.value);
    });
</script>
{% endblock %}
