<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drifter-Home Page</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="logo">Drifter</div>
      <img src="../static/images/menu-button.png" alt="menu" />
    </header>
    <main>
      <section class="user">
        <a href="#"
          ><img src="../static/images/default-avatar.png" alt="default avatar"
        /></a>
        <p>Username</p>
      </section>
      <section class="index-main">
        <img src="../static/images/index-main.png" alt="" />
        <img src="../static/images/arrow2.png" alt="" />
        <img src="../static/images/arrow1.png" alt="" />
        <div class="cards">
          <div class="card">
            <img src="../static/images/card2.png" alt="" />
            <p class="card-title">Reply A Note</p>
            <p class="card-explain">
              Check a random note or search for a note with a specific topic?
            </p>
            <a href="#" id="explore">Explore&nbsp;&nbsp;&nbsp;>>></a>
          </div>
          <div class="card">
            <img src="../static/images/card1.png" alt="" />
            <p class="card-title">Write A Note</p>
            <p class="card-explain">Send your stories here.</p>
            <a href="#" id="draft">Draft&nbsp;&nbsp;&nbsp;>>></a>
          </div>

          <div class="card">
            <img src="../static/images/card3.png" alt="" />
            <p class="card-title">Check My Inbox</p>
            <p class="card-explain">
              What kinds of answers are waiting for you?
            </p>
            <a href="#" id="surprise">Surprise&nbsp;&nbsp;&nbsp;>>></a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
