<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drifter-Home Page</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="logo">Drifter</div>
      <img src="../static/images/menu-button.png" alt="menu" />
    </header>
    <main>
      <section class="user">
        <img src="../static/images/default-avatar.png" alt="default avatar" />
        <p>Username</p>
      </section>
      <section class="index-main">
        <img src="../static/images/index-main.png" alt="" />
        <img src="../static/images/arrow2.png" alt="" />
        <img src="../static/images/arrow1.png" alt="" />
        <div class="cards">
          <div class="card">
            <img src="../static/images/card1.png" alt="" />
          </div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </section>
    </main>
  </body>
</html>
