<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React/Drifter</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <section class="left-panel">
      <div class="logo">React</div>
      <hr />
      <hr />
      <div class="description">
        <div class="des-top">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="des-right">
            <img src="../static/images/login-img.png" alt="React" />
          </div>
        </div>
        <div class="des-bottom">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="footer-icon">
        <a href="https://github.com/LiliLiu09/CITS5505_AgileWebProject2"
          ><img src="" alt=""
        /></a>
      </div>
    </section>
    <section class="right-panel">ss</section>
  </body>
</html>
