<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React/Drifter</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <section class="left-panel">
      <div class="logo">React</div>
      <hr />
      <hr />
      <div class="description">
        <div class="des-top">
          <ul>
            <li>"React/Drifter" lets you</li>
            <li>anonymously share</li>
            <li>secrets and receive</li>
            <li>random notes from</li>
            <li>around the globe. Post</li>
          </ul>
          <div class="des-right">
            <img src="../static/images/login-img.png" alt="React" />
          </div>
        </div>
        <div class="des-bottom">
          <ul>
            <li>your thoughts, respond to others' secrets, and engage</li>
            <li>in a world of anonymous, meaningful exchanges.</li>
            <li>Discover, share, and connect—privately and freely...</li>
          </ul>
        </div>
      </div>

      <div class="footer-icon">
        <a
          href="https://github.com/LiliLiu09/CITS5505_AgileWebProject2"
          target="_blank"
          ><img src="../static/images/github.svg" alt="github"></i
        ></a>
      </div>
    </section>
    <section class="right-panel"></section>
  </body>
</html>
