<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drifter - Register</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/login&register.css" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <section class="left-panel">
      <a href="index.html" class="logo-link">
        <div class="logo"></div>
      </a>
      <hr />
      <hr />
      <div class="description">
        <div class="des-top">
          <ul>
            <li>"Drifter" lets you</li>
            <li>anonymously share</li>
            <li>secrets and receive</li>
            <li>random notes from</li>

            <li>around the globe. Post</li>
          </ul>
          <div class="des-right">
            <img src="../static/images/login-img.png" alt="React" />
          </div>
        </div>
        <div class="des-bottom">
          <ul>
            <li>your thoughts, respond to others' secrets, and engage</li>
            <li>in a world of anonymous, meaningful exchanges.</li>
            <li>Discover, share, and connect—privately and freely...</li>
          </ul>
        </div>
      </div>

      <div class="footer-icon">
        <a
          href="https://github.com/LiliLiu09/CITS5505_AgileWebProject2"
          target="_blank"
          ><img src="../static/images/github.svg" alt="github"></i
        ></a>
      </div>
    </section>
    <section class="right-panel">
        <h2>Join Us!</h2>
        <form action="" method="" onsubmit="return validateForm()" id="register-form">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" id="username" name="username" >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
              <label for="password">Confirm Your Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword">
          </div>
            <button type="submit" class="btn-sign-in" id="btn-register">REGISTER</button>
            <div class="signup-link">
                Already have an account? <a href="{{ url_for('main.login') }}">Sign In</a>
            </div>
        </form>
    </section>
    <script src="../static/js/register.js"></script>
  </body>
</html>
